@font-face {
  font-family: "zpix";
  src: local("zpix"), url("/font/zpix.ttf") format("truetype");
  font-weight: bold;
}

:root {
  font-family: zpix, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: greenyellow;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #88ff64;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

h1 {
  display: inline-block;
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 900;
}

button {
  border-radius: 0;
  border: 4px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 900;
  font-family: inherit;
  background-color: #000 !important;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: greenyellow;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#gw-top {
  position: relative;
}

#gw-logo {
  width: 50vw;
  max-width: 400px;
  margin: auto;
  cursor: pointer;
}

#gw-logo img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

#gw-btn-start-game {
  position: absolute;
  right: 12vw;
  bottom: 0;
}

#godot-game {
  max-width: 640px;
  max-height: 480px;
  width: 80vw;
  height: 60vw;
  outline: 4px solid #ffffff;
  border: 0px;
}

#gw-middle {
  position: relative;
  /* background-color: #747bff; */
  width: 100%;
}

#gw-btn-coke {
  position: absolute;
  right: 12vw;
  top: 20px;
}

#gw-btn-axe {
  position: absolute;
  right: 12vw;
  top: 80px;
}

#qw-qrcode {
  width: 200px;
  height: 200px;
}

#gw-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: black;
}

#gw-footer * {
  display: inline-block;
  text-align: justify;
}

#gw-copyright {
  margin-left: 0;
}

#gw-godot {
  margin: 0;
}

#gw-godot img {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0 !important;
  margin-bottom: -4px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.gw-hide {
  display: none;
}

.gw-popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gw-popup-inner {
  width: 400px;
  height: 240px;
  display: inline-block;
  margin: auto;
  margin-top: calc(45vh - 120px);
  background-color: black;
  border: 4px solid white;
}

.gw-popup-inner span {
  color: greenyellow;
}

.gw-popup-inner img {
  display: block;
  margin: 0 auto 20px auto;
  height: 60px;
}

.gw-popup-inner button {
  margin: 0 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
